/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//colors
$concrete: #f2f2f2;
$white: #fff;

//urls
$url_0: url(/images/cover-bg.jpg);

@charset "utf-8";
body {
  background: $concrete;
}
footer {
  margin-top: 40px;
}
.navbar {
  background-color: $white;
}
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  background: $url_0 center center no-repeat;
  background-size: cover;
  .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
    .cover-contents {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;
      h1 {
        margin: 0 0 20px 0;
        color: $white;
        font-weight: bold;
        letter-spacing: 0.15em;
      }
    }
  }
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}
